*{
    margin:0px;
    padding:0px;
}
body{
    max-width:1360px;
    margin:auto;
    background-color: #282828;
}

.thanhgiua{
  margin-top: 50px;
  margin-left: 100px;
}
.tintuc{
    color: #fb8f1d;
    border: 1px solid #afb0b9;
    text-decoration:none;
    width: 80px;
    text-align: center;
    position: relative;
}
.tintuc:after{
            content: '';
            position:absolute;
            top:50%;
            left:10%;
            transform:translate(-50%);
            width:480px;
            height:1px;
            background:#afb0b9;
            z-index: -1;
            margin-left: 313px;
        }
.thanhgiua> span b{
  font-size: 20px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  margin-top: -22px;
  margin-left: 180px;
}
.thanhgiua span{

}
.thanhgiua > span b i{
    color: white;

    font-size: 18px;
    margin-left: 5px;
}
.baiviet{
    color: red;
    border: 1px solid #afb0b9;
    text-decoration:none;
    margin-top: -20px;
    width: 160px;
    margin-left: 680px;
}
.baiviet:after{
            content: '';
            position:absolute;
            top:5%;
            left:10%;
            transform:translate(-50%);
            width:200px;
            height:1px;
            background:white;
            z-index: -1;
            margin-left: 938px;
        }
.anh{
    width:100%;
    margin-top: 10px;

}
.anh1{
    margin-left: 450px;
}
.grid-name{
  font-size:15px;
  margin-left: 40px;
  color: white;
  text-decoration: none;
  margin-left: 105px;
}
.anh2{
    margin-left: 780px;

}



.sizebackground {
   
    height: 650px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    
    color: black;
    margin-top: 200px;
      background-image: url("./images/nen.jpg");
   Background-repeat : no-repeat;
   Background-size:1260px 1000px;
   
}
.chu {
    margin-top: -540px;
    margin-left: 60px;
    font-size: 20px;


}
.input1{
    width: 600px;
     margin-left: 200px;
     margin-top: -29px;

     
    }
input{
    width: 100px;
    height: 25px;
    text-align: center;
    
}
button{
    background-color: #ff6347;
    color: white;
    width: 90px;
    height: 30px;
}
.footer-top {
    width: 550px;
    height: 210px;
    display: flex;
   
   margin-right: 550px;
    margin-left : -700px;
    margin-bottom: 50px;    
    background-color: #CFCFCF;
    color: black;
    border-radius: 20px 20px 20px 20px;
   
}
.footer-top-center {
    margin-top: 10px;
    margin-left: 30px;
    font-size: 14px;

}
   
.footer-bot {
    width: 550px;
    height: 200px;
    display: flex;
   
   margin-right: 550px;
    margin-left : -700px;
    margin-bottom:  -50px;    
    background-color: #CFCFCF;
    color: black;
    border-radius: 20px 20px 20px 20px;
   
}
.footer-bot-center {
    margin-top: 10px;
    margin-left: 30px;
    font-size: 14px;


}

.anh a{
      text-decoration: none;
}
